@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

* {
  box-sizing: border-box;
}

.App {
  width: 900px;
  height: 1600px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button {
  padding: 1.2rem 2.4rem;
  margin: .6rem 1.2rem;
  background-color: orange;
  color: white;
  border-radius: 5rem;
  border: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
